.container__menu-title{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

.container__menu-title > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    font-family: 'segoe UI';
    display: flex;
    justify-content: center;
}
  
.container__menu-title > hr{
    margin-top: 20px;
    margin-bottom: 5px;
}

.rainbow-bg{
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    	100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}

@media screen and (max-width:600px) {
	.container__menu-title > h1{
	  font-size: 30px;
	}
  }

