<header>
    <app-menu-bar></app-menu-bar>
  </header>
  
  <app-menu-title></app-menu-title>
  
  <div class="container__articles">
    <div class="articles__main">
  
      <app-big-card
        photoCover="../../../assets/imgs/jojo1.jpg"
        cardTitle="Em breve novo jogo de JoJo"
        cardDescription="JoJo's Bizarre Adventure All Star Battle-R é o novo jogo de luta da franquia. Com mais de 50 personagens do anime e mangá, o game chega entre setembro e dezembro para PS4 e PS5. A novidade foi anunciada durante o State of Play desta quarta-feira (9)"
        >
      </app-big-card>
  
    </div>
    <div class="articles__others">
      <app-small-card
        cardTitle="Assista JoJo's Bizarre Adventure: Diamond is Unbreakable"
        photoCover="../../../assets/imgs/joj4.jpg"
      >
      </app-small-card>
  
      <app-small-card
        cardTitle="Assista JoJo's Bizarre Adventure: Golden Wind"
        photoCover="../../../assets/imgs/jojo5.jpg"
      >
      </app-small-card
      >
  
      <app-small-card
        cardTitle="Saiba quando ira sair a nova parte de JoJo"
        photoCover="../../../assets/imgs/jojo7.jpg"
      >
      </app-small-card>
    </div>
  </div>